.connect-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.connect-button:hover {
    background-color: var(--second-color);
}

.connect-button:active {
    transform: scale(0.95);
}

.connect-button:disabled {
    background-color: grey;
    color: var(--text-color);
    cursor: not-allowed;
}

.connect-button:disabled:hover {
    background-color: grey;
}

/* Tablet views */
@media (min-width: 768px) {
    .connect-button {
        width: auto;
        max-width: 200px;
        font-size: 1.1rem;
        padding: 12px 25px;
    }
}

/* Desktop views */
@media (min-width: 1024px) {
    .connect-button {
        max-width: 180px;
        font-size: 1rem;
        padding: 10px 20px;
    }
}