.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.75rem 0.5rem;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.footer-credits {
    font-size: 1rem;
    margin: 0;
}

/* Media query for tablets */
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-credits {
        font-size: 1.5rem;
        padding-bottom: 0.2rem;
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    .footer-credits {
        font-size: 1.2rem;
        padding-top: 0.3rem;
    }
}