.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 86vh;
    justify-content: center;
}

.home-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.home-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.home-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-login {
    background-color: var(--second-color);
    color: var(--text-color);
}

.home-signup {
    background-color: var(--third-color);
    color: var(--text-color);
}

.home-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.home-image {
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
}

.home-image img {
    width: 100%;
    height: auto;
}

/* Media query for tablets */
@media (min-width: 768px) {
    .home-section {
        min-height: 87.3vh;
    }
    .home-title {
        font-size: 4rem;
    }

    .home-subtitle {
        font-size: 2rem;
    }

    .home-button {
        font-size: 1.5rem;
    }

    .home-image {
        margin-top: 0;
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    .home-section {
        flex-direction: row;
        text-align: left;
        justify-content: space-evenly;
    }

    .home-content {
        padding-right: 2rem;
    }

    .home-buttons {
        gap: 2rem;
        display: flex;
        justify-content: flex-start;
    }
}