.logo {
    display: flex;
}

.logo-image {
    width: 75px;
    cursor: pointer;
}

.logo-image:hover {
    transform: scale(1.05);
}

/* Tablet view */
@media (min-width: 768px) {
    .logo-image {
        width: 120px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .logo-image {
        width: 100px;
    }
}