.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-image {
    width: 50px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.logo:hover .logo-image {
    transform: scale(1.1);
}

/* Media query for tablets */
@media (min-width: 768px) {
    .logo-image {
        width: 75px;
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    .logo-image {
        width: 100px;
    }
}