@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif; 
}

.forget-reset-page {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    min-height: 100vh;      
    padding: 0 20px; 
    box-sizing: border-box;
    flex-grow: 1;       
    height: 100%;      
}

.forget-reset-page .forget-password-form h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 5px; 
    word-wrap: break-word; 
}

.instruction-text {
    font-size: 16px; 
    color: black; 
    text-align: center;
    margin-bottom: 20px; 
    word-wrap: break-word; 
}

.forget-reset-page .form-group {
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.input-field:focus {
    border: 2px solid #FF6600; 
    background-color: #f8f1ed; 
    outline: none; 
}

.input-field {
    padding: 12px;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    word-wrap: break-word; 
}

.button {
    padding: 10px;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif; 
    background-color: #F5E5E3;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    word-wrap: break-word; 
}

.button:hover {
    background-color: #E67451; 
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message {
    margin-bottom: 20px;
    font-size: 16px; 
    text-align: center;
    color: green; 
    word-wrap: break-word; 
}

.error {
    color: red;
    font-size: 16px;
    margin-top: -5px;
    word-wrap: break-word;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

@media (min-width: 768px) {
    .forget-reset-page {
        justify-content: flex-start;
        padding-top: 20px;
    }

    .instruction-text {
        font-size: 20px;
    }

    .form-group {
        width: 80%;
    }

    h1 {
        font-size: 36px; 
    }
}

@media (min-width: 1024px) {
    .forget-reset-page {
        justify-content: center; 
        height: calc(100vh - 80px); 
        padding-top: 30px;
    }

    .instruction-text {
        font-size: 20px;
    }

    .form-group {
        width: 60%;
    }

    h1 {
        font-size: 40px; 
    }
}