.profileForm {
    margin: 1em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.profileForm h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.profileForm label, 
.profileForm input,
.profileForm select,
.travelPrefAndGoalsItem {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    min-width: 50%;
    max-width: 50%;
    font-size: 1.3rem;
    border-radius: 10px;
    font-family: inherit;
}

.profileForm label {
    display: block;
    width: 100%;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.profileForm input,
.profileForm select,
.travelPrefAndGoalsItem input {
    padding: 1em;
    border: 1px solid var(--primary-color);
}

.profileForm select, 
#editProfilePic {
    cursor: pointer;
}

#profilePicPreview {
    max-width: 80dvw;
    max-height: 15em;
}

.travelPrefAndGoalsItem input {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.profileForm button {
    background-color: var(--second-color);
    color: var(--text-color);
    font-family: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.2rem;
    padding: 1rem;
    font-size: 1.3rem;
    overflow: hidden;
    width: 20dvw;
    text-align: center;
}

.profileForm button:hover {
    background-color: var(--primary-color);
}

/* Tablet view */
@media (min-width: 768px) {
    .profileForm h2 {
        font-size: 2.7rem;
    }

    .profileForm label, 
    .profileForm input,
    .profileForm select,
    .travelPrefAndGoalsItem,
    .profileForm button {
        font-size: 1.5rem;
    }

    #profilePicPreview {
        max-width: 50dvw;
        max-height: 21em;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .profileForm {
        display: flex;
        align-items: center;
        gap: 0.3em; 
    }

    .profileForm h2 {
        font-size: 3rem;
    }

    .profileForm label, 
    .profileForm input,
    .profileForm select,
    .travelPrefAndGoalsItem,
    .profileForm button {
        font-size: 1.6rem;
    }

    #profilePicPreview {
        max-width: 35dvw;
        max-height: 24em;
    }
}