.profileView {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    margin: 1em;
    margin-top: 0.2em;
    /* overflow: auto;  */
}

.profileViewLeft,
.profileViewRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewName {
    text-align: center;
    margin-bottom: 0;
}

#viewLocation {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.1em;
}

#viewStatus {
    text-align: center;
}

#viewProfilePic {
    max-width: 80dvw;
    max-height: 15em;
}

.viewTravelPrefAndGoals > p {
    margin-top: 0.1em;
}

.itineraryDestination {
    margin: 0.2em;
}

.itineraryDates {
    margin: 0.2em;
    margin-bottom: 0.5em;
}

#viewSocialMedia {
    margin-top: 1em;
    color: var(--text-color);
    cursor: pointer;
}

.editButton,
.messageButton {
    padding: 8px 16px;
    margin: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.editButton:hover,
.messageButton:hover {
    background-color: var(--second-color);
}

.error {
    text-align: center;
}

/* Tablet view */
@media (min-width: 768px) {
    #viewProfilePic {
        max-width: 50dvw;
        max-height: 15em;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .profileView {
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem; 
        margin: 7em;
    }

    .profileViewLeft, .profileViewRight {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #viewProfilePic {
        max-width: 30dvw;
        max-height: 20em;
    }
}