.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.05);
}

/* Tablet view */
@media (min-width: 768px) {
    .logo-image {
        width: 75px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .logo-image {
        width: 50px;
    }
}