.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

/* Tablet view */
@media (min-width: 768px) {
    .logo img {
        width: 120px;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .logo img {
        width: 150px;
    }
}