.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.navbar-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

.hamburger {
    background-color: var(--primary-color);
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: \"\";
    background-color: var(--primary-color);
    position: absolute;
}

.navbar-menu {
    display: none;
    flex-direction: column;
    background-color: var(--second-color);
    padding: 1rem;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
}

.navbar-menu.open {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Tablet view */
@media (min-width: 768px) {
    .navbar-links {
        display: flex;
        gap: 2rem;
    }

    .navbar-links li {
        margin: 0 10px;
      }

    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
    }
}

/* Desktop view */
@media (min-width: 1024px) {
    .navbar-links a {
        font-size: 18px;
    }

    .navbar-menu {
        padding: 0 20px 0 0;
    }
}